@inherits LayoutComponentBase
<script>
    window.PlayAudioFile = (src) => {
        var sound = document.createElement('audio');
        sound.src = src;
        sound.type = 'audio/mpeg';
        document.body.appendChild(sound);
        sound.load();
        sound.play();
    }
</script>
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<script>
    function sendHeightToParent() {
      if (window.parent) {
        const height = document.documentElement.scrollHeight || document.body.scrollHeight;
        window.parent.postMessage({ type: "blazor-height", height: height }, "*");
      }
    }

    window.addEventListener("load", sendHeightToParent);
    window.addEventListener("resize", sendHeightToParent);
    setInterval(sendHeightToParent, 1000);
</script>

