@page "/"

<h1>Cześć!</h1>

Ta strona jest dopiero w budowie, więc jeśli na nią trafiłeś to pewnie się znamy.
<br />
Uwagi i pomysły do istniejących gier zgłoś na "kontakt (at) szkolnegryedukacyjne.pl"<br />
Lub na Githubie <a href="https://github.com/zarzyckipawel/Zbijak" target="_blank">https://github.com/zarzyckipawel/Zbijak</a>

             
